section.repository-list {
    margin: 40px;

    h1 {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-around;
        font-size: 3rem;
        font-weight: 100;
        color: #747476;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        list-style: nome;
        list-style-type: none;
        padding: 2rem;

        li {
            margin-bottom: 20px;
            background: white;
            
            max-width: 90%;
            height: 95%!important;

            border: 1px solid #D3E2E5;
            border-radius: 5px;
            padding: 10px;
            
            &:last-child {
                margin-bottom: 0px;
            }
            
            p{
                font-size: 14px;
                color: #444;
                margin-top: 8px;
            }

            strong {
                text-transform: capitalize;
                padding-right: 7px;
            }

            #share{
                font-size: 9px;
                color: green;
                padding: 5px 5px;
                border: 1px solid green;
                border-radius: 10px;
                font-weight: bold;
            } 
            
            a {
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
                
                background-color: green;
                padding: 0.5rem;
                border-radius: 3%;
            
                color: white!important;
            }
        }
    }
}